/*header*/

.header{

    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;

        img{
            height: 75px;
            width: 75px;
            border: 2px solid red;
            border-radius: 50%;
            margin-top: 19px;
            cursor: pointer;
        }

        p{
            font-size: 18px;
            color: #f9faf8;
        }

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            list-style: none;
            cursor: pointer;
        }

}

/*block-1*/
.main-1{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 350px;
}

.hero-content{
    max-width: 800px;
    font-size: 25px;

    button {
    background-color: #3882f6;
    color: white;
    font-size: 22px;
    border: 170px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

}


/*block-2*/

.main-box{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.box {
    
    img{
    height: 200px;
    width: 200px;
    font-size: 15px;
    border: 4px solid blue;
    border-radius: 15px;
    cursor: pointer;
}
    p{
        max-width: 250px;
    }
}

#heading1{
    text-align: center;
    font-size: 50px;
}

/*block-3*/

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #e5e7eb;

    p{
    font-size: 40px;
    font-style: italic;
    max-width: 800px;
   
    }

    h4{
        font-size: 30px;
        margin-left: 700px;
        margin-top: -19px;
        padding: 20px;
    }
}

/*block-4*/

.Signup-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.Signup-box{
    background-color: #3882f6;
    padding: 10px 80px;
    border-radius: 8px;
    min-width: 700px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Signup-text{
    display: flex;
    flex-direction: column;
    justify-items: center;

    h3{
        font-size: 20px;
        height: 40px;
        font-weight: bold;
    }
    p{
        margin-top: -40px;
        font-weight: lighter;
        font-size: 15px;
    }
}

.Signup-box button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 16px;
    margin-left: 70px;
    font-weight: bold;
    cursor: pointer;
  
    
}

/*footer-section*/

.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}


